<h1>Order Detail</h1>
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#panel" onclick="Panel()">Create</button>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <td>OrderId</td>
            <td>ProductId</td>
            <td>UnitPrice</td>
            <td>Quantity</td>
            <td>Discount</td>
            <td style="width: 200px">Action</td>
        </tr>
    </thead>
    <tbody id="tablebody">
    </tbody>
</table>

<div class="offcanvas offcanvas-end" id="panel">
    <div class="offcanvas-header">
        <h5 id="panelLabel">Create</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form>
            <div class="form-item" style="margin-bottom: 20px" id="orderIdItem">
                <label class="item-name" style="margin-bottom: 5px">OrderId</label>
                <select class="form-control" id="orderId"></select>
            </div>
            <div class="form-item" style="margin-bottom: 20px">
                <label class="item-name" style="margin-bottom: 5px">Product</label>
                <select class="form-control" id="product"></select>
            </div>
            <div class="form-item" style="margin-bottom: 20px">
                <label class="item-name" style="margin-bottom: 5px">Unit Price</label>
                <input class="form-control" type="number" id="unitPrice" />
            </div>
            <div class="form-item" style="margin-bottom: 20px">
                <label class="item-name" style="margin-bottom: 5px">Quantity</label>
                <input class="form-control" type="number" id="quantity" />
            </div>
            <div class="form-item" style="margin-bottom: 20px">
                <label class="item-name" style="margin-bottom: 5px">Discount</label>
                <input class="form-control" type="number" id="discount" />
            </div>
            <div class="form-item" style="margin-bottom: 20px">
                <button type="button" id="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        var token = getCookie("jwt")
        $(document).ready(function () {
            $.ajax({
                url: "https://localhost:7039/api/OrderDetail/GetList",
                method: "GET",
                contentType: "application/json",
                headers: {
                    Authorization: "Bearer " + token,
                },
                success: function (response) {
                    response.data && response.data.forEach((item) => {
                        var $tr = $('<tr>')
                        var $orderId = $('<td>').text(item.orderId)
                        var $productId = $('<td>').text(item.productId)
                        var $unitPrice = $('<td>').text(item.unitPrice)
                        var $quantity = $('<td>').text(item.quantity)
                        var $discount = $('<td>').text(item.discount)
                        var $action = $('<td>')
                        var $edit = $('<button onclick="Panel(`' + item.orderId + '`)">').text('Edit').addClass('btn btn-primary')
                            .attr("data-bs-toggle", "offcanvas").attr("data-bs-target", "#panel")
                        var $delete = $('<button onclick="Modal(`' + item.orderId + '`, `' + item.productId + '`)">').text('Delete').addClass('btn btn-danger')
                            .attr("data-bs-toggle", "modal").attr("data-bs-target", "#modal")
                        $action.append($edit, $delete)
                        $tr.append($orderId, $productId, $unitPrice, $quantity, $discount, $action)
                        $('#tablebody').append($tr)
                    })
                },
                error: function (xhr, status, error) {
                    console.log(error);
                    window.location.href = '/'
                },
            });
        }); 
        function Modal(orderId, productId) {
            $('#modal-content').text('Are you sure to delete this order?')
            $('#delete').on('click', function () {
                $.ajax({
                    url: "https://localhost:7039/api/OrderDetal/Delete?orderId=" + orderId + "&productId=" + productId,
                    method: "POST",
                    contentType: "application/json",
                    headers: {
                        Authorization: "Bearer " + token,
                    },
                    success: function (response) {
                        response.success && window.location.reload()
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                        alert(xhr.responseText);
                    },
                });
            })
        }
        function Panel(id) {
            $('#panelLabel').text('Create')
            $.ajax({
                url: "https://localhost:7039/api/Product/GetList",
                method: "GET",
                contentType: "application/json",
                headers: {
                    Authorization: "Bearer " + token,
                },
                success: function (response) {
                    response.data.forEach((item) => {
                        var $option = $('<option>').val(item.productId).attr('id', item.productId).text(item.productName)
                        $('#product').append($option)
                    })
                },
                error: function (xhr, status, error) {
                    console.log(error);
                    alert(xhr.responseText);
                },
            });
            if (id) {
                $('#orderIdItem').hide()
                $('#panelLabel').text('Update')
                $.ajax({
                    url: "https://localhost:7039/api/Order/GetById?id=" + id,
                    method: "GET",
                    contentType: "application/json",
                    headers: {
                        Authorization: "Bearer " + token,
                    },
                    success: function (response) {
                        $('#member').val(response.data.memberId),
                            $('#orderDate').val(response.data.orderDate),
                            $('#requiredDate').val(response.data.requiredDate),
                            $('#shippedDate').val(response.data.shippedDate),
                            $('#freight').val(response.data.freight)
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                        alert(xhr.responseText);
                    },
                });
            }
            else{
                $('#orderIdItem').show()
                $.ajax({
                    url: "https://localhost:7039/api/Order/GetList",
                    method: "GET",
                    contentType: "application/json",
                    headers: {
                        Authorization: "Bearer " + token,
                    },
                    success: function (response) {
                        response.data.forEach((item) => {
                            var $option = $('<option>').val(item.orderId).attr('id', item.orderId).text(item.orderId)
                            $('#orderId').append($option)
                        })
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                        alert(xhr.responseText);
                    },
                }); 
            }
            $('#submit').on('click', function (e) {
                e.preventDefault;
                var formData = {
                    orderId: id || $('#orderId').val(),
                    productId: $('#product').val(),
                    unitPrice: $('#unitPrice').val(),
                    quantity: $('#quantity').val(),
                    discount: $('#discount').val(),
                };
                var href = id ? "https://localhost:7039/api/OrderDetail/Update" : "https://localhost:7039/api/OrderDetail/Create"
                $.ajax({
                    url: href,
                    method: "POST",
                    contentType: "application/json",
                    headers: {
                        Authorization: "Bearer " + token,
                    },
                    data: JSON.stringify(formData),
                    success: function (response) {
                        console.log(response)
                        response.success && window.location.reload()
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                        alert(xhr.responseText);
                    },
                });
            })
        }
        var myOffcanvas = document.getElementById('panel')
        myOffcanvas.addEventListener('hidden.bs.offcanvas', function () {
            $('#discount').val('')
            $('#unitPrice').val('')
            $('#quantity').val('')
            $('#product option')[0].selected = true;
            $('#orderId option')[0].selected = true;
        })
    </script>
}