@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="./category">Category</a>
    <a href="./order">Order</a>
    <a href="./orderdetail">Order Detail</a>
    <a href="./product">Product</a>
</div>