<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eStoreWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/eStoreWebApp.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Header", required: false)
</head>
<body>
    <div class="container">
        <header style="display: flex; justify-content: flex-end">
            <a href="./productuser"><button class="btn btn-outline-primary" id="cartBtn">Product</button></a>
            <a href="./orderuser"><button class="btn btn-outline-primary" id="cartBtn">Order</button></a>
            <a href="./cart"><button class="btn btn-outline-primary" id="cartBtn">Cart</button></a>
            <button class="btn btn-outline-primary" id="logoutBtn">Logout</button>
        </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            var role = getCookie("role")
            if (!role || role.length === 0) window.location.href = '/login'
            else if (role === "Admin") window.location.href = '/'
        })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
